<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Stack Poppers || IIT Madras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/foundation.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'foundation-icons/foundation-icons.css') }}" />
    <script src="{{ url_for('static', filename = 'js/vendor/modernizr.js') }}"></script>
    <script type="text/javascript"> 

        function Ajax_text()
        {
            var
                $http,
                $self = arguments.callee;

            if (window.XMLHttpRequest) {
                $http = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                try {
                    $http = new ActiveXObject('Msxml2.XMLHTTP');
                } catch(e) {
                    $http = new ActiveXObject('Microsoft.XMLHTTP');
                }
            }

            if ($http) {
                $http.onreadystatechange = function()
                {
                    if (/4|^complete$/.test($http.readyState)) {
                        document.getElementById('ReloadThis').innerHTML = $http.responseText;
                        setTimeout(function(){$self();}, 1000);
                    }
                };
                $http.open('GET', "{{ url_for('static', filename = 'heartrate.txt') }}" + '?' + new Date().getTime(), true);
                $http.send(null);
            }

        }

    </script>

    <script type="text/javascript"> 

        function Ajax_emotion()
        {
            var
                $http,
                $self = arguments.callee;

            if (window.XMLHttpRequest) {
                $http = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                try {
                    $http = new ActiveXObject('Msxml2.XMLHTTP');
                } catch(e) {
                    $http = new ActiveXObject('Microsoft.XMLHTTP');
                }
            }

            if ($http) {
                $http.onreadystatechange = function()
                {
                    if (/4|^complete$/.test($http.readyState)) {
                        document.getElementById('prompt').innerHTML = $http.responseText;
                        setTimeout(function(){$self();}, 1000);
                    }
                };
                $http.open('GET', "{{ url_for('static', filename = 'prompt.txt') }}" + '?' + new Date().getTime(), true);
                $http.send(null);
            }

        }

    </script>

    <script type="text/javascript"> 

        function Ajax_doc()
        {
            var
                $http,
                $self = arguments.callee;

            if (window.XMLHttpRequest) {
                $http = new XMLHttpRequest();
            } else if (window.ActiveXObject) {
                try {
                    $http = new ActiveXObject('Msxml2.XMLHTTP');
                } catch(e) {
                    $http = new ActiveXObject('Microsoft.XMLHTTP');
                }
            }

            if ($http) {
                $http.onreadystatechange = function()
                {
                    if (/4|^complete$/.test($http.readyState)) {
                        document.getElementById('doc').innerHTML = $http.responseText;
                        setTimeout(function(){$self();}, 1000);
                    }
                };
                $http.open('GET', "{{ url_for('static', filename = 'doc.txt') }}" + '?' + new Date().getTime(), true);
                $http.send(null);
            }

        }

    </script>

</head>

<body>
    <div id="top"></div>
    <div class="contain-to-grid sticky">
        <nav class="top-bar" data-topbar>
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="#">Team Stack Poppers</a>
                    </h1>
                </li>
  
        </nav>
    </div>
    <section class="jumbo">
        <div class="row">
            <div class="large-12 columns">
                <h1>Welcome to Smart Health and Cognitive Monitor</h1>
                <!-- <p class="text-center">
                    <a href="http://epickwebdesign.com" class="medium button">Simple Button</a>
                </p>
 -->
            </div>
        </div>
    </section>

<section>

    <div class="row">
        <div class="large-6 columns">
            <a href="http://localhost:8001/emotion" class="button expand" onclick="Ajax_emotion();">Emotion Analyser</a>
        </div>

        <div class="large-6 columns">
            <div>
                <a href="#" class="button expand" onclick="Ajax_text();">Pulse Monitor</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <a href="#" class="button expand">Anti - Distraction</a>
        </div>
        <div class="large-6 columns">
            <div>
                <a href="stats.html" class="button expand">Stats</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <a href="index2.html" class="button expand">Go!</a>
        </div>
    </div>
    </section>

<!--     <script type="text/javascript">
        setTimeout(function() {Ajax_text();}, 1000);
    </script>
    <script type="text/javascript">
        setTimeout(function() {Ajax_emotion();}, 1000);
    </script>
    <script type="text/javascript">
        setTimeout(function() {Ajax_doc();}, 1000);
    </script> -->
<section>
    <div class="row">
       <div class="large-10 columns">
           <h1>
                Current Mood 
            </h1>
        </div>
    </div>
   <div class="row">
        <div class="large-6 columns">
           <img src="{{ url_for('static', filename = 'mood.gif') }}" id="img"></img>

            

            <script>
                window.onload = function() {
                    var image = document.getElementById("img");

                    function updateImage() {
                        image.src = image.src.split("?")[0] + "?" + new Date().getTime();
                    }

                    setInterval(updateImage, 1000);
                }
            </script>
        </div>
        <div class="large-6 columns">
                <h1>
                <div id="ReloadThis">
                
                </div>
                </h1>
            
        </div>
    </div>
</section>

<section>
    <div class="row">
       <div class="large-10 columns">
           <h1>
                Check ths out! 
            </h1>
        </div>
    </div>
   <div class="row">
        <div class="large-6 columns">
           <iframe width="560" height="315"  id="vid" src="https://www.youtube.com/embed/jCcR6pWgfQY" frameborder="0" allowfullscreen></iframe>
            

            <script>
                window.onload = function() {
                    var video = document.getElementById("vid");

                    function updateVid() {
                         if (window.XMLHttpRequest){
                               xmlhttp=new XMLHttpRequest();
                        }
                        else{
                           xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                        }
                        xmlhttp.open("GET","{{ url_for('static', filename = 'vid.txt') }}",false);
                        xmlhttp.send();
                        xmlDoc=xmlhttp.responseText; 
                        var urlString = String(xmlDoc);
                        video.setAttribute('src', urlString );
                        // video.src = video.src+ new Date().getTime();
                        // document.write(urlString);
                    }

                    setInterval(updateVid, 60000);
                }
            </script>
        </div>
        <div class="large-6 columns">
                <h1>
                <div id="ReloadThis">
                
                </div>
                </h1>
            
        </div>
    </div>
</section>

   
<div class="row">
        <h3>
            <div id="prompt">
            </div>
        </h3>
    </div>
    <div class="row">
        <h3>
            <div id="doc">
            </div>
        </h3>
    </div>

 
    <script src="{{ url_for('static', filename = 'js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/foundation.min.js') }}"></script>
    <script>
        $(document).foundation();
    </script>
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>
